h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color:rgb(234, 242, 235)

}

body{
  background-color: rgb(31, 24, 172)
}

div {
    text-align:center;
}

div img {
  border-radius: 5px;
    display:block;
    margin: auto;
    width: 300px;
    height: 300px;
    box-shadow: 10px 5px 5px black;

}




a
{
  font-family: 'Nunito', sans-serif;

  color:rgb(233, 225, 241)}

  /*start page 2 */

  #page2{
    background-color: rgb(65, 144, 70)
  }


  #page2 h1{
    color: rgb(6, 6, 6)

  }

  #page2 p{font-family: sans-serif;
  font-size: 20px;

  }

  #page2 ol{
    font-family: sans-serif;
    font-size: 20px;
  }

  #page2 a{
    color: rgb(5, 5, 5)
  }

  #page2 img{
    display: block;
    margin: auto;
    width: 50%;
    opacity: 0.5;
   filter: alpha(opacity=50);


  }

  /*start page 3*/

  #page3{
    background-color: rgb(224, 121, 83)
  }

  label {
      display:block;
      margin-top:20px;
      letter-spacing:2px;
  }

  input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

input, textarea{width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}

#submit {
  color: white;
  text-shadow: 0px 1px 1px #ffffff;
    width:75px;
    height:38px;
    border-radius: 50%;
    background-color: rgb(88, 78, 74)

  }
